.content {
    margin: 100px auto;
    border: 10px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500;
}

.nav{
    background-color: aquamarine;
    padding: 10px 10px 20px 10px;
}



.humans{
    width: 100%;
    padding: 100px
}