#part{
    width: 500px;
    height: 100px;
    background-color: gray;
    /* padding: 100px; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-width: 10px;
    border-color: black;
    border-style: solid;
    border: 90px solid powderblue;
}

/* p{
    background-color: turquoise;
    padding: 10px;
} */