 body {
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}


#first{
    background-color: #23576a;
    padding: 2%;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 2px solid #f2f2f2;
    columns: 2;
    color: #f2f2f2;
    
}


#second{
    background-color: #23576a;
    padding: 2%;
    width: 200px;
    height: 200px;
    border-radius: 60px;
    border: 2px solid #f2f2f2;
    margin-left: 10%;
}