 body {
    background-color: #1a1a1a;
    color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
}


div{
    background-color: #23576a;
    padding: 2%;
    width: 200px;
    height: 200px;
    margin: auto;
    border-radius: 60px;
    border: 2px solid #f2f2f2;
    
}